@media (max-width: 300px) {
     .connection--header {
         background-color: var(--bg-header);
         height: auto;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
    }
     .connection--header .contacts {
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         position: relative;
    }
     .registratsiya-vhod .container .content-container {
         height: 75vh !important;
    }
     .registratsiya-vhod .container .content-container .content {
         -ms-grid-columns: 1fr 10px 1fr !important;
         grid-template-columns: repeat(2, 1fr) !important;
         -ms-grid-rows: auto;
         grid-template-rows: auto;
         gap: 10px;
         width: 100%;
    }
     .registratsiya-vhod .container .content-container .content > *:nth-child(1) {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
    }
     .registratsiya-vhod .container .content-container .content > *:nth-child(2) {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
    }
     .registratsiya-vhod .container .content-container .content a {
         width: 2.1875rem !important;
         height: 2.1875rem !important;
    }
     .registratsiya-vhod .container .content-container .text .content__title {
         font-size: 30px !important;
         text-align: center;
    }
     .registratsiya-vhod .container .content-container {
         width: 90%;
         margin-top: 3.125rem;
    }
     .site-menu-content--header {
         min-height: 8vh;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
    }
     .site-menu-content--header .container--header {
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         width: 100%;
    }
     .site-menu-content--header .container--header .logotip img {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         max-height: 52px;
         max-width: 100px;
         width: auto;
         height: auto;
    }
     .site-menu-content--header .container--header .logotip {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
    }
     .nav-menu {
         display: none;
    }
     .burger__menu {
         display: none;
    }
     .burger {
         width: 1.5625rem !important;
         height: 1.5625rem !important;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         position: relative;
         overflow: hidden;
    }
     .burger__line {
         display: inline-block;
         width: 100%;
         height: 0.1875rem;
         background-color: var(--black);
         position: absolute;
         left: 0;
         -webkit-transition: 0.3s ease;
         -o-transition: 0.3s ease;
         transition: 0.3s ease;
    }
     .burger__line:nth-child(1) {
         top: 0;
    }
     .burger__line:nth-child(2) {
         top: 50%;
         -webkit-transform: translateY(-50%);
             -ms-transform: translateY(-50%);
                 transform: translateY(-50%);
    }
     .burger__line:nth-child(3) {
         bottom: 0;
    }
     .burger__menu:checked ~ .burger .burger__line:nth-child(1) {
         -webkit-transform: rotate(45deg);
             -ms-transform: rotate(45deg);
                 transform: rotate(45deg);
         top: 50%;
         left: 0;
         -webkit-transform-origin: center;
             -ms-transform-origin: center;
                 transform-origin: center;
    }
     .burger__menu:checked ~ .burger .burger__line:nth-child(2) {
         -webkit-transform: translateX(300%);
             -ms-transform: translateX(300%);
                 transform: translateX(300%);
    }
     .burger__menu:checked ~ .burger .burger__line:nth-child(3) {
         -webkit-transform: rotate(-45deg);
             -ms-transform: rotate(-45deg);
                 transform: rotate(-45deg);
         top: 50%;
         left: 0;
         -webkit-transform-origin: center;
             -ms-transform-origin: center;
                 transform-origin: center;
    }
     .burger__wrapper {
         position: relative;
         z-index: 10000;
         width: -webkit-max-content;
         width: -moz-max-content;
         width: max-content;
    }
     .burger__menu {
         display: none;
    }
     .burger {
         width: 2rem;
         height: 2rem;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         cursor: pointer;
         z-index: 10001;
    }
     .burger__line {
         height: 4px;
         background-color: black;
         width: 100%;
    }
     .nav-menu {
         position: absolute;
         display: none;
         -webkit-box-orient: vertical !important;
         -webkit-box-direction: normal !important;
             -ms-flex-direction: column !important;
                 flex-direction: column !important;
         top: 100%;
         right: 0%;
         background-color: #fff;
         width: 300px !important;
         height: 17.8125rem;
         -webkit-transform: translateX(110%);
             -ms-transform: translateX(110%);
                 transform: translateX(110%);
         -webkit-transition: -webkit-transform 0.5s ease-in-out;
         transition: -webkit-transform 0.5s ease-in-out;
         -o-transition: transform 0.5s ease-in-out;
         transition: transform 0.5s ease-in-out;
         transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
         z-index: 1000;
         -webkit-box-pack: end;
             -ms-flex-pack: end;
                 justify-content: end;
         padding: 0 0 0 0 !important;
    }
     .nav-menu-list {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         -webkit-box-pack: end;
             -ms-flex-pack: end;
                 justify-content: end;
         gap: 0 !important;
         width: 250px !important;
         margin: 0 0 0 12%;
    }
     .nav-menu-item {
         width: 250px !important;
         height: 3.375rem;
         text-align: right;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
         -webkit-box-pack: end;
             -ms-flex-pack: end;
                 justify-content: end;
    }
     .nav__menu--border {
         border-top: 2px solid var(--border-bottom-ancher);
         border-bottom: 1px solid var(--border-bottom-ancher);
    }
     .burger__menu:checked ~ .nav-menu {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-transform: translateX(5.6%) !important;
             -ms-transform: translateX(5.6%) !important;
                 transform: translateX(5.6%) !important;
    }
}
 @media (max-width: 530px) and (min-width: 301px) {
     .connection--header {
         background-color: var(--bg-header);
         height: auto !important;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
    }
     .connection--header .contacts {
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         position: relative;
    }
     .registratsiya-vhod .container .content-container {
         height: 75vh !important;
    }
     .registratsiya-vhod .container .content-container .content {
         -ms-grid-columns: 1fr 10px 1fr 10px 1fr !important;
         grid-template-columns: repeat(3, 1fr) !important;
         -ms-grid-rows: auto;
         grid-template-rows: auto;
         gap: 10px;
         width: 100%;
         height: 65%;
    }
     .registratsiya-vhod .container .content-container .content > *:nth-child(1) {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
    }
     .registratsiya-vhod .container .content-container .content > *:nth-child(2) {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
    }
     .registratsiya-vhod .container .content-container .content > *:nth-child(3) {
          -ms-grid-row: 1;
          -ms-grid-column: 5;
    }
     .registratsiya-vhod .container .content-container .content a {
         width: 2.1875rem !important;
         height: 2.1875rem !important;
    }
     .registratsiya-vhod .container .content-container .text .content__title {
         font-size: 30px !important;
         text-align: center;
    }
     .registratsiya-vhod .container .content-container {
         width: 90%;
         margin-top: 3.125rem;
    }
     .site-menu-content--header {
         min-height: 8vh;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
    }
     .site-menu-content--header .container--header {
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         width: 100%;
    }
     .site-menu-content--header .container--header .logotip img {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         max-height: 52px;
         max-width: 100px;
         width: auto;
         height: auto;
    }
     .site-menu-content--header .container--header .logotip {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
    }
     .nav-menu {
         display: none;
    }
     .burger__menu {
         display: none;
    }
     .burger {
         width: 1.5625rem !important;
         height: 1.5625rem !important;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         position: relative;
         overflow: hidden;
    }
     .burger__line {
         display: inline-block;
         width: 100%;
         height: 0.1875rem;
         background-color: var(--black);
         position: absolute;
         left: 0;
         -webkit-transition: 0.3s ease;
         -o-transition: 0.3s ease;
         transition: 0.3s ease;
    }
     .burger__line:nth-child(1) {
         top: 0;
    }
     .burger__line:nth-child(2) {
         top: 50%;
         -webkit-transform: translateY(-50%);
             -ms-transform: translateY(-50%);
                 transform: translateY(-50%);
    }
     .burger__line:nth-child(3) {
         bottom: 0;
    }
     .burger__menu:checked ~ .burger .burger__line:nth-child(1) {
         -webkit-transform: rotate(45deg);
             -ms-transform: rotate(45deg);
                 transform: rotate(45deg);
         top: 50%;
         left: 0;
         -webkit-transform-origin: center;
             -ms-transform-origin: center;
                 transform-origin: center;
    }
     .burger__menu:checked ~ .burger .burger__line:nth-child(2) {
         -webkit-transform: translateX(300%);
             -ms-transform: translateX(300%);
                 transform: translateX(300%);
    }
     .burger__menu:checked ~ .burger .burger__line:nth-child(3) {
         -webkit-transform: rotate(-45deg);
             -ms-transform: rotate(-45deg);
                 transform: rotate(-45deg);
         top: 50%;
         left: 0;
         -webkit-transform-origin: center;
             -ms-transform-origin: center;
                 transform-origin: center;
    }
     .burger__wrapper {
         position: relative;
         z-index: 10000;
    }
     .burger__menu {
         display: none;
    }
     .burger {
         width: 2rem;
         height: 2rem;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         cursor: pointer;
         z-index: 10001;
    }
     .burger__line {
         height: 4px;
         background-color: black;
         width: 100%;
    }
     .nav-menu {
         position: absolute;
         display: none;
         -webkit-box-orient: vertical !important;
         -webkit-box-direction: normal !important;
             -ms-flex-direction: column !important;
                 flex-direction: column !important;
         top: 100%;
         right: 0%;
         background-color: #fff;
         width: -webkit-max-content !important;
         width: -moz-max-content !important;
         width: max-content !important;
         height: 17.8125rem;
         -webkit-transform: translateX(110%);
             -ms-transform: translateX(110%);
                 transform: translateX(110%);
         -webkit-transition: -webkit-transform 0.5s ease-in-out;
         transition: -webkit-transform 0.5s ease-in-out;
         -o-transition: transform 0.5s ease-in-out;
         transition: transform 0.5s ease-in-out;
         transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
         z-index: 1000;
         padding: 0 0 0 2.5rem;
    }
     .nav-menu-list {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         gap: 0 !important;
         padding: 0 1rem 0 0;
    }
     .nav-menu-item {
         width: 250px !important;
         height: 3.375rem;
         text-align: right;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
         -webkit-box-pack: end;
             -ms-flex-pack: end;
                 justify-content: end;
    }
     .nav__menu--border {
         border-top: 2px solid var(--border-bottom-ancher);
         border-bottom: 1px solid var(--border-bottom-ancher);
    }
     .burger__menu:checked ~ .nav-menu {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-transform: translateX(6%) !important;
             -ms-transform: translateX(6%) !important;
                 transform: translateX(6%) !important;
    }
}
 @media (max-width: 1024px) and (min-height: 531px) {
     .connection--header .contacts {
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
         width: 100% !important;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
    }
     .registratsiya-vhod .container .content-container {
         height: 90vh;
    }
     .registratsiya-vhod .container .content-container .content {
         -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
         grid-template-columns: repeat(4, 1fr);
         -ms-grid-rows: auto;
         grid-template-rows: auto;
         gap: 10px;
         width: 100%;
         height: 65%;
    }
     .registratsiya-vhod .container .content-container .content > *:nth-child(1) {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
    }
     .registratsiya-vhod .container .content-container .content > *:nth-child(2) {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
    }
     .registratsiya-vhod .container .content-container .content > *:nth-child(3) {
          -ms-grid-row: 1;
          -ms-grid-column: 5;
    }
     .registratsiya-vhod .container .content-container .content > *:nth-child(4) {
          -ms-grid-row: 1;
          -ms-grid-column: 7;
    }
     .registratsiya-vhod .container .content-container .text .content__title {
         font-size: 40px;
    }
     .registratsiya-vhod .container .content-container {
         width: 90%;
         margin-top: 3.125rem;
    }
     .site-menu-content--header {
         min-height: 8vh;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
    }
     .site-menu-content--header .container--header {
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         width: 100%;
    }
     .site-menu-content--header .container--header .logotip img {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         max-height: 52px;
         max-width: 100px;
         width: auto;
         height: auto;
    }
     .site-menu-content--header .container--header .logotip {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
    }
     .nav-menu {
         display: none;
    }
     .burger__menu {
         display: none;
    }
     .burger {
         width: 2rem;
         height: 2rem;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         position: relative;
         overflow: hidden;
    }
     .burger__line {
         display: inline-block;
         width: 100%;
         height: 0.1875rem;
         background-color: var(--black);
         position: absolute;
         left: 0;
         -webkit-transition: 0.3s ease;
         -o-transition: 0.3s ease;
         transition: 0.3s ease;
    }
     .burger__line:nth-child(1) {
         top: 0;
    }
     .burger__line:nth-child(2) {
         top: 50%;
         -webkit-transform: translateY(-50%);
             -ms-transform: translateY(-50%);
                 transform: translateY(-50%);
    }
     .burger__line:nth-child(3) {
         bottom: 0;
    }
     .burger__menu:checked ~ .burger .burger__line:nth-child(1) {
         -webkit-transform: rotate(45deg);
             -ms-transform: rotate(45deg);
                 transform: rotate(45deg);
         top: 50%;
         left: 0;
         -webkit-transform-origin: center;
             -ms-transform-origin: center;
                 transform-origin: center;
    }
     .burger__menu:checked ~ .burger .burger__line:nth-child(2) {
         -webkit-transform: translateX(300%);
             -ms-transform: translateX(300%);
                 transform: translateX(300%);
    }
     .burger__menu:checked ~ .burger .burger__line:nth-child(3) {
         -webkit-transform: rotate(-45deg);
             -ms-transform: rotate(-45deg);
                 transform: rotate(-45deg);
         top: 50%;
         left: 0;
         -webkit-transform-origin: center;
             -ms-transform-origin: center;
                 transform-origin: center;
    }
     .burger__wrapper {
         position: relative;
         z-index: 10000;
    }
     .burger__menu {
         display: none;
    }
     .burger {
         width: 2rem;
         height: 2rem;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         -webkit-box-pack: justify;
             -ms-flex-pack: justify;
                 justify-content: space-between;
         cursor: pointer;
         z-index: 10001;
    }
     .burger__line {
         height: 4px;
         background-color: black;
         width: 100%;
    }
     .nav-menu {
         position: absolute;
         display: none;
         -webkit-box-orient: vertical !important;
         -webkit-box-direction: normal !important;
             -ms-flex-direction: column !important;
                 flex-direction: column !important;
         top: 100%;
         right: 0%;
         background-color: #fff;
         width: 23.75rem;
         height: 17.8125rem;
         -webkit-transform: translateX(110%);
             -ms-transform: translateX(110%);
                 transform: translateX(110%);
         -webkit-transition: -webkit-transform 0.5s ease-in-out;
         transition: -webkit-transform 0.5s ease-in-out;
         -o-transition: transform 0.5s ease-in-out;
         transition: transform 0.5s ease-in-out;
         transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
         z-index: 1000;
         padding: 0 0 0 2.5rem;
    }
     .nav-menu-list {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         gap: 0 !important;
         padding: 0 1rem 0 0;
    }
     .nav-menu ul li a:hover::after {
         -webkit-transform: unset;
             -ms-transform: unset;
                 transform: unset;
         -webkit-transform-origin: unset;
             -ms-transform-origin: unset;
                 transform-origin: unset;
         -webkit-transition: unset;
         -o-transition: unset;
         transition: unset;
    }
     .nav-menu ul li a:not(.chek)::after {
         content: unset;
         position: unset;
         bottom: unset;
         left: unset;
         height: unset;
         width: unset;
         background-color: unset;
         -webkit-transform: unset;
             -ms-transform: unset;
                 transform: unset;
         -webkit-transform-origin: unset;
             -ms-transform-origin: unset;
                 transform-origin: unset;
         -webkit-transition: unset;
         -o-transition: unset;
         transition: unset;
    }
     .nav-menu-item {
         width: 100%;
         width: 20.25rem;
         height: 3.375rem;
         text-align: right;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
         -webkit-box-pack: end;
             -ms-flex-pack: end;
                 justify-content: end;
    }
     .nav__menu--border {
         border-top: 2px solid var(--border-bottom-ancher);
         border-bottom: 1px solid var(--border-bottom-ancher);
    }
     .burger__menu:checked ~ .nav-menu {
         -webkit-transform: translateX(4.8%);
             -ms-transform: translateX(4.8%);
                 transform: translateX(4.8%);
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
    }
}
 @media (min-width: 1025px) {
     .bg {
         width: 100%;
         z-index: -10;
         top: 0 !important;
         height: 100vh;
         overflow: hidden;
         position: absolute;
    }
     .bg-photo {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         background-size: cover;
         background-position: center;
         opacity: 0;
         -webkit-animation: slide 32s infinite ease-in-out;
                 animation: slide 32s infinite ease-in-out;
    }
}